{% extends 'appchat/Base.html' %}
{% load static %}
{% load my_tags %}

{% block styles %}
  <link rel="stylesheet" type="text/css" href="{% static 'appchat/css/chat_style.css' %}">
{% endblock %}


{% block content %}


<div class="dropdown">
      <button class="dropdown-toggle" onclick="toggleDropdown()">Users in room ({{ chat_room.user_count }})</button>
      <div class="dropdown-menu" id="dropdownMenu">
        <div class="scrollbar">
          <ul>
              {% for user_in_room in chat_room.users_in_chatroom.all %}
                    {% if user.username == user_in_room.username %}
                    <li>
                        <a style="font-size: 15px; display: inline-block;" href="{% url 'profile' user.username %}">{{ user_in_room.username }}</a>
                    </li>
                    {% else %}
                    <li>
                        <a style="font-size: 15px; display: inline-block;" href="{% url 'another_profile' user.username user_in_room.username %}">{{ user_in_room.username }}</a>
                    </li>
                    {% endif %}
              {% endfor %}
            <!-- Добавьте больше элементов по мере необходимости -->
          </ul>
        </div>
      </div>
    </div>

<div class="chat-container">
    <a style="font-size: 16px; color: red; float: right;" href="/leave_room/{{ chat_room.slug }}">Leave room</a>


  <div class="chat">
    {% for m in chat_room.get_messages %}
          <div class="message-bubble {% if user.username == m.sender.username %}right{% else %}left{% endif %}">
            <div class="message-info">
              <span class="user-name" style="color: {% if user.username == m.sender.username %}red{% else %}green{% endif %};">{{ m.sender.username }}</span>
            </div>
            <p style="float: {% if user.username == m.sender.username %}right{% else %}left{% endif %};">{{ m.message }}</p>
          </div>
    {% endfor %}
  </div>

      {% in_chat_room user.username request.path as in_room %}

      {% if in_room is not True %}
        <form action="{% url 'join_the_room' chat_room.slug %}" method="POST">
          {% csrf_token %}
          <button type="submit" class="send-button">join the conversation</button>
        </form>

        {% else %}

      <form id="message-form" method="POST">
      {% csrf_token %}
      <div class="message-container">
        <textarea id="message" class="message-input" placeholder="input your message"></textarea>
        <button type="submit" class="send-button">Send</button>
      </div>
    </form>

    {% endif %}
</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    var messageForm = document.getElementById('message-form');
    var messageInput = document.getElementById('message');
    var chatContainer = document.querySelector('.chat');
    var csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;

    messageForm.addEventListener('submit', function(event) {
      event.preventDefault();
      var message = messageInput.value.trim();
      if (message !== '') {
        // Отправка нового сообщения на сервер
        var xhr = new XMLHttpRequest();
        xhr.open('POST', window.location.href);
        xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
        xhr.setRequestHeader('X-CSRFToken', csrfToken);
        xhr.onload = function() {
          if (xhr.status === 200) {
            var response = JSON.parse(xhr.responseText);
            var messageData = response.message;

            // Создание нового элемента для сообщения
            var messageBubble = document.createElement('div');
            messageBubble.className = 'message-bubble';
            if (messageData.sender.username === '{{ user.username }}') {
              messageBubble.style.float = 'right';
            } else {
              messageBubble.style.float = 'left';
            }

            // Создание HTML-разметки для нового сообщения
            var messageInfo = document.createElement('div');
            messageInfo.className = 'message-info';
            var userName = document.createElement('span');
            userName.className = 'user-name';
            if (messageData.sender.username === '{{ user.username }}') {
              userName.style.color = 'red';
            } else {
              userName.style.color = 'green';
            }
            userName.textContent = messageData.sender.username;

            var messageText = document.createElement('p');
            messageText.textContent = messageData.message;

            // Добавление элементов в иерархию
            messageInfo.appendChild(userName);
            messageBubble.appendChild(messageInfo);
            messageBubble.appendChild(messageText);

            // Добавление нового сообщения в контейнер
            chatContainer.appendChild(messageBubble);

            // Очистка поля ввода сообщения
            messageInput.value = '';
          }
        };
        xhr.send('message=' + encodeURIComponent(message));
      }
    });
  });

  function toggleDropdown() {
  var dropdownMenu = document.getElementById("dropdownMenu");
  dropdownMenu.style.display = (dropdownMenu.style.display === "none") ? "block" : "none";
}
</script>

{% endblock %}
