{% extends 'appchat/Base.html' %}
{% load static %}
{% load my_tags %}

{% block styles %}
  <link rel="stylesheet" type="text/css" href="{% static 'appchat/css/chat_style.css' %}">
{% endblock %}


{% block content %}


<div class="dropdown">
      <button class="dropdown-toggle" onclick="toggleDropdown()">Users in room ({{ chat_room.user_count }})</button>
      <div class="dropdown-menu" id="dropdownMenu">
        <div class="scrollbar">
          <ul>
              {% for user_in_room in chat_room.users_in_chatroom.all %}
                    {% if user.username == user_in_room.username %}
                    <li>
                        <a style="font-size: 15px; display: inline-block;" href="{% url 'profile' user.username %}">{{ user_in_room.username }}</a>
                    </li>
                    {% else %}
                    <li>
                        <a style="font-size: 15px; display: inline-block;" href="{% url 'another_profile' user.username user_in_room.username %}">{{ user_in_room.username }}</a>
                    </li>
                    {% endif %}
              {% endfor %}
            <!-- Добавьте больше элементов по мере необходимости -->
          </ul>
        </div>
      </div>
    </div>

<div class="chat-container">
    <a style="font-size: 16px; color: red; float: right;" href="/leave_room/{{ chat_room.slug }}">Leave room</a>


  <div class="chat">
    {% for m in chat_room.get_messages %}
          <div class="message-bubble {% if user.username == m.sender.username %}right{% else %}left{% endif %}">
            <div class="message-info">
              <span class="user-name" style="color: {% if user.username == m.sender.username %}red{% else %}green{% endif %};">{{ m.sender.username }}</span>
            </div>
            <p style="float: {% if user.username == m.sender.username %}right{% else %}left{% endif %};">{{ m.message }}</p>
          </div>
    {% endfor %}
  </div>

      {% in_chat_room user.username request.path as in_room %}

      {% if in_room is not True %}
        <form action="{% url 'join_the_room' chat_room.slug %}" method="POST">
          {% csrf_token %}
          <button type="submit" class="send-button">join the conversation</button>
        </form>

        {% else %}

<!--      <form id="message-form" method="POST">-->
      {% csrf_token %}
      <div class="message-container">
        <textarea id="message" class="message-input" placeholder="input your message"></textarea>
        <button type="submit" class="send-button">Send</button>
      </div>
<!--    </form>-->

    {% endif %}
</div>

<script src="{% static 'appchat/js/chat_room_add_messages.js' %}"></script>
<script src="{% static 'appchat/js/chat_room_drop_friends_list.js' %}"></script>
<script src="{% static 'appchat/js/chat_room_websocket.js' %}"></script>

{% endblock %}
