{% extends 'appchat/Base.html' %}
{% load static %}
{% load my_tags %}

{% block styles %}
  <link rel="stylesheet" type="text/css" href="{% static 'appchat/css/chat_style.css' %}">
{% endblock %}

{% block content %}

<div class="dropdown">
      <button class="dropdown-toggle" onclick="toggleDropdown()">Користувачі в кімнаті ({{ chat_room.user_count }})</button>
      <div class="dropdown-menu" id="dropdownMenu">
        <div class="scrollbar">
          <ul>
              {% for user_in_room in chat_room.users_in_chatroom.all %}
                    {% if user.username == user_in_room.username %}
                    <li>
                        <a style="font-size: 15px; display: inline-block;" href="{% url 'profile' user.username %}">{{ user_in_room.username }}</a>
                    </li>
                    {% else %}
                    <li>
                        <a style="font-size: 15px; display: inline-block;" href="{% url 'another_profile' user.username user_in_room.username %}">{{ user_in_room.username }}</a>
                    </li>
                    {% endif %}
              {% endfor %}
          </ul>
        </div>
      </div>
    </div>

<div class="chat-container">
    <a style="font-size: 16px; color: red; float: right;" href="/leave_room/{{ chat_room.slug }}">Залишити кімнату</a>

  <div class="chat">
    {% for m in chat_room.get_messages %}
          <div class="message-bubble {% if user.username == m.sender.username %}right{% else %}left{% endif %}">
            <div class="message-info">
              <span class="user-name" style="color: {% if user.username == m.sender.username %}red{% else %}green{% endif %};">{{ m.sender.username }}</span>
            </div>
            <p style="float: {% if user.username == m.sender.username %}right{% else %}left{% endif %};">{{ m.message }}</p>
          </div>
    {% endfor %}
  </div>

      {% in_chat_room user.username request.path as in_room %}

      {% if in_room is not True %}
        <form action="{% url 'join_the_room' chat_room.slug %}" method="POST">
          {% csrf_token %}
          <button type="submit" class="send-button">приєднатися до розмови</button>
        </form>

        {% else %}

      <div class="message-container">
        <textarea id="message" class="message-input" placeholder="введіть ваше повідомлення"></textarea>
        <button type="submit" class="send-button">Відправити</button>
      </div>

    {% endif %}
</div>
<script>

function addMessageToChat(sender, message) {
    const chatContainer = document.querySelector('.chat');

    // Створення елементів повідомлення
    const messageBubble = document.createElement('div');
    messageBubble.classList.add('message-bubble');
    messageBubble.classList.add(sender === '{{ user.username }}' ? 'right' : 'left');

    const messageInfo = document.createElement('div');
    messageInfo.classList.add('message-info');

    const userName = document.createElement('span');
    userName.classList.add('user-name');
    userName.style.color = sender === '{{ user.username }}' ? 'red' : 'green';
    userName.textContent = sender;

    const messageContent = document.createElement('p');
    messageContent.textContent = message;

    // Додавання елементів до ієрархії DOM
    messageInfo.appendChild(userName);
    messageBubble.appendChild(messageInfo);
    messageBubble.appendChild(messageContent);
    chatContainer.appendChild(messageBubble);
}

    // Створення WebSocket з'єднання
    var chatRoomSlug = '{{ chat_room.slug }}' + '/';
    var socketURL = 'ws://' + window.location.host + '/ws/chat_room/' + chatRoomSlug;
    const socket = new WebSocket(socketURL);

  // Обробник відкриття з'єднання
  socket.onopen = function(event) {
    console.log('WebSocket з\'єднання відкрито');
  };

  // Обробник закриття з'єднання
  socket.onclose = function(event) {
    console.log('WebSocket з\'єднання закрито');
  };

  // Обробник отримання повідомлення від сервера
  socket.onmessage = function(event) {
    const response = JSON.parse(event.data);
    const message = JSON.parse(event.data).message;
    const sender = JSON.parse(event.data).sender;
    console.log('Отримано повідомлення від сервера:', message);
    addMessageToChat(sender, message);
  };

  // Функція відправки повідомлення на сервер
  function sendMessage() {
    const messageInput = document.getElementById('message');
    const message = messageInput.value;

    // Перевірка, що повідомлення не порожнє
    if (message.trim() !== '') {
      const data = {
        type: 'chat_message',
        sender: '{{ user.username }}',
        message: message
      };

      // Відправка повідомлення на сервер у форматі JSON
      socket.send(JSON.stringify(data));

      // Очищення поля введення повідомлення
      messageInput.value = '';
    }
  }

  // Призначення обробника події натискання на кнопку "Send"
  const sendButton = document.querySelector('.send-button');
  sendButton.addEventListener('click', sendMessage);

</script>
<script src="{% static 'appchat/js/chat_room_drop_friends_list.js' %}"></script>

{% endblock %}