<!-- create_room.html -->
{% extends 'appchat/Base.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'appchat/css/forms_style.css' %}">
{% endblock %}


{% block content %}
    <div class="form-container">
        <h1>Create room</h1>
        {% if created %}
        <h5>{{ Success_message }}</h5>
        {% else %}
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="hidden" name="username" value="{{ user.username }}">
            <button class="button" type="submit">Create room</button>
        </form>
        {% endif %}
    </div>
{% endblock %}
