{% extends 'appchat/Base.html' %}
{% load static %}

{% block styles %}
  <link rel="stylesheet" type="text/css" href="{% static 'appchat/css/global_room_style.css' %}">
{% endblock %}

{% block content %}
<div class="container">
        <div class="search-container">
            <input type="text" id="search-input" placeholder="Search room">
        </div>
        <div id="container-for-rooms">
                <ul id="room-list">
                    {% for room in page_obj %}
                        {% if room.is_private != True %}
                        <li><a href="{% url 'chat_room' room.slug %}">{{ room.name }}</a> <h5>Users: {{room.user_count}}. Time created: {{ room.time_created }}</h5></h4></li>
                        {% endif %}
                    {% endfor %}
                </ul>
        </div>
            <div class="pagination">
                <span>Per page:</span>
                <a href="?per_page=10" {% if per_page == 10 %} class="active" {% endif %} >10</a>
                <a href="?per_page=25" {% if per_page == 25 %} class="active" {% endif %} >25</a>
                <a href="?per_page=50" {% if per_page == 50 %} class="active" {% endif %} >50</a>
                <a href="?per_page=100" {% if per_page == 100 %} class="active" {% endif %} >100</a>
            </div>

            <div class="pagination">
                {% if page_obj.has_previous %}
                    <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
                {% endif %}

                <span class="current-page">{{ page_obj.number }}</span>

                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">Next</a>
                {% endif %}
            </div>
    </div>


<script>
document.addEventListener('DOMContentLoaded', function() {
    var searchInput = document.getElementById('search-input');
    var roomList = document.getElementById('room-list');

    searchInput.addEventListener('input', function(event) {
        var searchQuery = event.target.value.toLowerCase();
        var rooms = roomList.getElementsByTagName('li');

        Array.from(rooms).forEach(function(room) {
            var roomName = room.innerText.toLowerCase();
            if (roomName.indexOf(searchQuery) !== -1) {
                room.style.display = 'block';
            } else {
                room.style.display = 'none';
            }
        });
    });
});
</script>
{% endblock%}