<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="{% static 'appchat/css/forms_style.css' %}">
    <meta charset="UTF-8">
    <title>Реєстрація</title>
  </head>
  <body>
  <div class="form-container">
    <div class="error-message">
      <p>{{ form.error}}</p>
    </div>
    <form method="POST">
      {% csrf_token %}
      <title>Реєстрація</title>
      {{ form.as_p }}
      <input type="submit" value="Зарегистрироваться">
    </form>
  </div>
  </body>
</html>
