body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #000;
  color: #00FF00;
}

body li {
  margin-bottom: 20px;
}

body a {
  color: green;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  border-bottom: 1px solid #00FF00;
  transition: border-bottom-color 0.3s ease;
}

body a:hover {
  border-bottom-color: #008000;
}

.sidebar {
  background-color: black;
  color: #fff;
  height: 100vh;
  width: 200px;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  border-right: 1px solid #00FF00;
}

.sidebar-nav {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}


.header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color: black;
    color: #00FF00;
    padding: 20px;
    border-bottom: 1px solid #00FF00;
    border: none;
    text-align: right;
}

.header a {
    color: green;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    border-bottom: 1px solid #00FF00;
    transition: border-bottom-color 0.3s ease;
}

.header a:hover{
    color: #008000;
    border-bottom-color: #008000;
}

.header-element {
  background-color: black;
  border: 1px solid green;
  display: flex;
  margin-right: 30px;
}

.header-element span {
  color: white;
  padding: 10px;
}

#chat-rooms {
  position: fixed;
  left: 15px;
  bottom: 40%;
  color: #00FF00;
}

#chat-rooms h2 {
  font-size: 24px;
  font-weight: normal;
  color: #008000;
  margin-top: 20px;
}

#chat-rooms ul {
  list-style-type: none;
  padding: 0;
}

#chat-rooms ul li {
  margin-bottom: 10px;
}

#chat-rooms ul li a {
  color: #00FF00;
  text-decoration: none;
  border-bottom: 1px solid #00FF00;
  transition: border-bottom-color 0.3s ease;
}

#chat-rooms ul li a:hover {
  border-bottom-color: #008000;
}