.chat-container {
  margin-left: 23%;
  margin-right: 15%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
  background-color: #000000;
}

.chat {
  border: 2px solid #00FF00;
  border-radius: 10px;
  padding: 30px;
  background-color: #000000;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  overflow-y: auto;
  margin-bottom: 20px;
  scrollbar-color: #9932cc #00FF00;
  scrollbar-width: thin;
  scroll-behavior: smooth;
  font-color: green;
}

.message-bubble {
  background-color: white;
  border-radius: 10px;
  color: #000000;
  font-size: 16px;
  margin: 10px 0;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  word-wrap: break-word;
}

.message-info {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.user-avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  margin-right: 10px;
}

.user-name {
  font-weight: bold;
}

.message-bubble p {
  margin: 0;
}

.message-bubble.left .message-info {
  float: left;
}

.message-bubble.left .user-avatar {
  margin-right: 10px;
}

.message-bubble.left p {
  clear: both;
  float: left;
}

.message-bubble.right .message-info {
  float: right;
}

.message-bubble.right .user-avatar {
  margin-left: 10px;
}

.message-bubble.right p {
  clear: both;
  float: right;
}

.input-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.message-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.message-input {
  resize: none;
  border: none;
  outline: none;
  padding: 2px;
  font-size: 16px;
  background-color: #000000;
  color: #00FF00;
  border-radius: 5px;
  margin-bottom: 2px;
  width: 600px;
}

.send-button {
  border: none;
  outline: none;
  padding: 10px;
  font-size: 16px;
  background-color: #00FF00;
  color: #000000;
  border-radius: 1px;
  cursor: pointer;
}

.send-button:hover {
  background-color: black;
  color: white;
}

.dropdown {
  position: absolute;
  top: 20%;
  right: 0;
  transform: translateY(-0%);
  width: 13%;
  background-color: #000;
  color: lime;
  font-family: monospace;
}

.dropdown-toggle {
  padding: 10px;
  background-color: #333;
  color: lime;
  border: none;
  cursor: pointer;
}

.dropdown-menu {
  top: 100%;
  right: 0;
  display: none;
  overflow-y: scroll;
  max-height: 25vh;
}

.dropdown-menu::-webkit-scrollbar {
  width: 8px;
}

.dropdown-menu::-webkit-scrollbar-thumb {
  background-color: #00ff00;
  border-radius: 10px;
}

.scrollbar ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.scrollbar ul li {
  padding: 10px;
  border-bottom: 1px solid #333;
}

.scrollbar ul li:last-child {
  border-bottom: none;
}

