.chat-container {
  margin-left: 23%;
  margin-right: 15%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
  background-color: #333;
}

.chat {
  border: 1px solid black;
  border-radius: 10px;
  padding: 30px;
  background-color: #333;
  box-shadow: 0px 0px 20px rgba(0, 200, 200, 0.9);
  width: 100%;
  height: 100%;
  overflow-y: auto;
  margin-bottom: 20px;
  scrollbar-color: #FFFF00 #00FF00;
  scrollbar-width: thin;
  scroll-behavior: smooth;
  color: #FFFF00;
  display: flex;
  flex-direction: column;
}

.chat::-webkit-scrollbar {
  width: 8px;
}

.chat::-webkit-scrollbar-thumb {
  background-color: #FFFF00;
  border-radius: 10px;
  margin-left: 2px;
}

.message-bubble {
  background-color: #f5f5f5;
  border-radius: 10px;
  color: #000000;
  font-size: 16px;
  margin: 10px 0;
  padding: 10px 20px;
  max-width: 60%;
  box-shadow: 0px 0px 10px rgba(0, 0, 20, 1);
}

.message-bubble.left {
  align-self: flex-start;
}

.message-bubble.right {
  align-self: flex-end;
}

.message-info {
  display: flex;
  align-items: center;
}

.user-avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  margin-right: 10px;
}

.user-name {
  font-weight: bold;
  margin-right: 5px;
}

.input-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.message-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.message-input {
  border: none;
  outline: none;
  padding: 2px;
  font-size: 16px;
  background-color: #f5f5f5;
  color: black;
  border-radius: 5px;
  margin-bottom: 2px;
  width: 600px;
  max-height: 500px;
  resize: none;
}

.send-button {
  border: none;
  outline: none;
  padding: 10px;
  font-size: 16px;
  background-color: #FFFF00;
  color: #000000;
  border-radius: 1px;
  cursor: pointer;
}

.send-button:hover {
  background-color: white;
  color: black;
}

.dropdown {
  position: absolute;
  top: 20%;
  right: 0;
  transform: translateY(-0%);
  width: 13%;
  background-color: #333;
  color: yellow;
  font-family: monospace;
}

.dropdown-toggle {
  border: 2px solid yellow;
  border-radius: 10px;
  padding: 10px;
  background-color: #333;
  color: yellow;
  cursor: pointer;
}

.dropdown-menu {
  top: 100%;
  right: 0;
  display: none;
  overflow-y: scroll;
  max-height: 25vh;
}

.dropdown-menu::-webkit-scrollbar {
  width: 8px;
}

.dropdown-menu::-webkit-scrollbar-thumb {
  background-color: #333;
  border-radius: 10px;
}

.scrollbar ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.scrollbar ul li {
  padding: 10px;
  border-bottom: 1px solid #333;
}

.scrollbar ul li:last-child {
  border-bottom: none;
}
