.container {
    max-width: 700px;
    margin: 0 auto;
    padding: 20px;
}

.container span {
    color: #FF9900;
    padding: 10px;
    padding-height: 10px;
}

.search-container {
    margin-top: 20px;
    margin-bottom: 20px;
}

#search-input {
    width: 700px;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 5px #c6c6c6;
}

#container-for-rooms {
    background-color: #333;
    padding: 20px;
    border-color: black;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 200, 200, 0.9);
    overflow-y: scroll;
    max-height: 400px; /* Выберите подходящую высоту для отображения окна прокрутки */
}

#room-list {
    list-style: none;
    padding: 0;
}

#room-list li {
    padding: 3px;
    border-bottom: 1px solid #FFFF00;
    font-size: 18px;
}

#room-list h5 {
    color: #FFFF00;
}